.login {
  .content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    button {
      height: 50px;
      width: 150px;
    }

    input {
      height: 30px;
      width: 200px;
    }
  }
}
