@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 footer {
  background-color: #71AB47;
 }

 .newsletter {
  background-color: #CEFDAC;
 }

 .jumbotron {
  background-image: url(meet-and-tidy-jumbotro-38795fc71855c09787e96701e75ad5979d0a18acbe885a5dd56d32da083beccd.png);
  height: 500px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size:auto;
}
