footer {
  background: rgb(159, 224, 159);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

a {
  color: black;

  &:hover {
    filter: contrast(4%);
  }
}

svg {
  height: 30px;
  width: 30px;
}

.socials {
  display: flex;
  justify-content: center;
}